.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; /* Masaüstü için imleç */
  -webkit-tap-highlight-color: transparent; /* Mobilde tıklama efektini kaldır */
  user-select: none; /* Metin seçimini engelle */
}

.button:hover {
  background-color: #cc5200;
}

/* Mobil cihazlar için dokunma efektleri */
.button:active {
  background-color: #cc5200;
  transform: scale(0.95); /* Butona basıldığında küçülme efekti */
}
